*/
/*
!/mods/
!/mods/*
!/config/
!/config/*
!/config/*/*
!/scripts/
!/scripts/*
!/resourcepacks/
!/resourcepacks/*
!/resourcepacks/*/*
!/resourcepacks/*/*/*
!/resourcepacks/*/*/*/*
!/resourcepacks/*/*/*/*/*
!/.gitignore
!/.gitattributes
!/controls.txt