# Configuration file

options {
    B:"Creepers can drop records when killed by skeletons?"=true
    B:"Creepers drop any type of record (vanilla or modded) when killed by skeletons?"=true
}


##########################################################################################################
# records
#--------------------------------------------------------------------------------------------------------#
# To add new records, you will have to do 4 things:
# 1.) Add a .ogg sound file to the resource pack in the assets/minecraft/sounds/records folder.
# 
# 2.) Add a .png texture file to the resource pack in the assets/minecraft/textures/items folder.
# 
# 3.) Edit the sounds.json file in the resource pack, adding a new entry in the form:
#   "records.<record name>": {
#     "category": "record",
#     "sounds": [
#       {
#         "name": "records/<record name>",
#         "stream": true
#       }
#     ]
#   }
# where <record name> is the name of the ogg file (withough .ogg)
# 
# 4.) Add an entry to this list in the form <record name>-<texture name>-<description>,
# where the record name is the name of the ogg file (without .ogg), and the texture
# name is the name of the texture (without .png). The description is what will display
# when the record plays. By default it has records for all the default music.
# 
# Don't forget to load in and edit the resource pack!
# 
# The following are already set up correctly in the resource. You can add each line to
# the list below as examples.
# 
# creative1-biome_fest-C418 - Biome Fest
# creative2-blind_spots-C418 - Blind Spots
# creative3-haunt_muskie-C418 - Haunt Muskie
# creative4-aria_math-C418 - Aria Math
# creative5-dreiton-C418 - Dreiton
# creative6-taswell-C418 - Taswell
# end-end-C418 - The End
# credits-alpha-C418 - Alpha
# nether1-concrete_halls-C418 - Concrete Halls
# nether2-dead_voxel-C418 - Dead Voxel
# nether3-warmth-C418 - Warmth
# nether4-ballad_of_the_cats-C418 - Ballad of the Cats
# menu1-mutation-C418 - Mutation
# menu2-moog_city_2-C418 - Moog City 2
# menu3-beginning_2-C418 - Beginning 2
# menu4-floating_trees-C418 - Floating Trees
# calm1-minecraft-C418 - Minecraft
# calm2-clark-C418 - Clark
# calm3-sweden-C418 - Sweden
# hal1-subwoofer_lullaby-C418 - Subwoofer Lullaby
# hal2-living_mice-C418 - Living Mice
# hal3-haggstrom-C418 - Haggstrom
# hal4-danny-C418 - Danny
# nuance1-key-C418 - Key
# nuance2-oxygene-C418 - Oxygï¿½ne
# piano1-dry_hands-C418 - Dry Hands
# piano2-wet_hands-C418 - Wet Hands
# piano3-mice_on_venus-C418 - Mice on Venus
##########################################################################################################

records {
    S:"List of records:" <
        mine01-mine01-I Can Swing My Sword (01:07)
        mine02-mine02-TNT (03:22)
        mine03-mine03-I'll Make Some Cake (03:18)
        mine04-mine04-Creepers are Terrible (03:19)
        mine05-mine05-Don't Mine At Night (03:49)
        mine06-mine06-It's Herobrine (02:17)
        mine07-mine07-This is my Biome (04:00)
        mine08-mine08-Minecraft Style (03:59)
        mine09-mine09-Revenge (03:40)
        mine10-mine10-Minecraft Everyday (03:10)
        mine11-mine11-Admin day resov (02:10)
        mine12-mine12-Hostile Mobs (01:03)
        mine13-mine13-How Do I Craft This Again (03:29)
        mine14-mine14-MINE THE DIAMOND (02:29)
        mine15-mine15-Enchanted (03:23)
        mine16-mine16-Through The Night (04:08)
        mine17-mine17-Wrecking Mob (03:36)
        mine18-mine18-Diggy Diggy Hole (03:55)
        mine19-mine19-Screw the Nether (03:48)
        mine20-mine20-ENDERMAN RAP (03:26)
        record_gargule_01-record_gargule-Lord Of The Lost - Blood for Blood (04:03)
        record_gargule_02-record_gargule-Pagan Fury - Flood Of Fire (04:00)
        record_gargule_03-record_gargule-Beast In Black - To the Last Drop of Blood (03:55)
        record_gargule_04-record_gargule-Lord Of The Lost - Drag Me to Hell (03:58)
        record_gargule_05-record_gargule-Fading Starlight - Black Wings Of Hate (05:00)
        record_gargule_06-record_gargule-Lord Of The Lost - Priest (05:20)
        record_gargule_07-record_gargule-Avenged Sevenfold - Scream - cover (04:47)
        record_gargule_08-record_gargule-VNV Nation - Joy (05:53)
        record_gargule_09-record_gargule-CELAVI - E X S P I R A V I T (03:56)
        record_gargule_10-record_gargule-Van Canto - Black Wings of Hate (04:41)
        record_abadon_01-record_abadon-Dark Souls 2 OST - Majula (06:21)
        record_abadon_02-record_abadon-Man on the Internet - Magus Opera Theme (02:49)
        record_abadon_03-record_abadon-Solaire and Frog - Frog theme (01:49)
        record_abadon_04-record_abadon-Jonathan Young - Tthe World (03:45)
        record_abadon_05-record_abadon-Solatrus - Forsaken Grotto (03:43)
        record_abadon_06-record_abadon-Quern Undying Thoughts OST - Into the Core (05:53)
        record_abadon_07-record_abadon-Gary Numan - Long Way Down (04:19)
        record_abadon_08-record_abadon-Wallace band - Master (02:51)
        record_abadon_09-record_abadon-Mikhail Sheleg - Kafe neudachnikov (04:23)
        record_abadon_10-record_abadon-Igor Kornelyuk - Gorod kotorogo net (04:15)
        record_nya_nyaf_01-record_nya_nyaf-Inon Zur - Kate and the Youkols (02:35)
        record_nya_nyaf_02-record_nya_nyaf-UNREAL - Omnia Vincit Amor (04:11)
        record_nya_nyaf_03-record_nya_nyaf-Blind Guardian - The Bard's Song (03:28)
        record_nya_nyaf_04-record_nya_nyaf-David Jordan - Sun Goes Down (03:16)
        record_nya_nyaf_05-record_nya_nyaf-Epica - Abyss of Time - Countdown to Singularity (05:20)
        record_nya_nyaf_06-record_nya_nyaf-Faun - Fire (04:40)
        record_nya_nyaf_07-record_nya_nyaf-Man on the Internet - Dung Defender (03:33)
        record_nya_nyaf_08-record_nya_nyaf-Faun - Adam Lay Ybounden (04:37)
        record_nya_nyaf_09-record_nya_nyaf-Fall Out Boy - Immortals (03:09)
        record_sparkling_cat_01-record_sparkling_cat-Twenty one pilots - The Judge (04:58)
        record_sparkling_cat_02-record_sparkling_cat-Twenty one pilots - Doubt (03:12)
        record_sparkling_cat_03-record_sparkling_cat-Twenty one pilots - Heathens (03:16)
        record_sparkling_cat_04-record_sparkling_cat-Twenty One Pilots - Ride (03:35)
		record_sparkling_cat_05-record_sparkling_cat2-FamilyJules - Pekora BGM (03:20)
		record_sparkling_cat_06-record_sparkling_cat2-Crossing Field - Lisa (04:11)
		record_sparkling_cat_07-record_sparkling_cat2-Minami - Kawaki wo Ameku (04:14)
		record_sparkling_cat_08-record_sparkling_cat2-Kagamine Rin - Abstract Nonsens (03:57)
		record_sparkling_cat_09-record_sparkling_cat2-Myth & Roid - STYX HELIX (04:50)
		record_sparkling_cat_10-record_sparkling_cat2-U-TOPIA - Behind The Scene (03:49)
     >
}


